@charset "UTF-8";

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
#container {
	display: inline-flex;
	flex-direction: row;
	height: 100%;
}
#sidebar {
	width: 25%;
	background: #f7f7f7
}

#topMenuBar {
	height: 5%;
	margin-left: 20px;
}
 
nav {
	width: 20%;
	height: 100%;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%), 0 4px 20px 0 rgb(0 0 0 / 50%);
    position: fixed !important;
    overflow: auto;
}

#jstree {
	height: 70%;
	border : 1px solid #a3a3a3;
	margin : 20px;
	min-height: 620px;
	max-height: 620px;
	overflow: scroll;
	font-size: 12px;
	font-weight: bold;
}

#fileTool {
	width: 300px;
	border: 1px solid #a3a3a3;
	border-radius: 10px 10px 10px;
	position: absolute;
	top: 25px;
	left: 100px;
	display: flex;
	justify-content: center;
	background: #f7f7f7;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%), 0 4px 20px 0 rgb(0 0 0 / 50%);
}

#fileTool > button {
	margin: 10px 3px;
}

#fileContainer {
	width: 100%;
	height: 100%;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	position: relative;
	z-index: 1;
}

#fileContainer:after {
	width: 100%;
	height: 100%;
	content: "";
	background: no-repeat url("/images/nasBackground.jpg");
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.7;
}

.dropZone {
    width: 90%;
    height: 620px;
    overflow: auto;
    margin-top: 120px;
    margin-left: 100px;
    background-color: rgb(227,242,253);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%), 0 4px 20px 0 rgb(0 0 0 / 50%);
    z-index: 1;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
}
#fileTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    background-color: #707070 !important;
    font-size: 15px;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
    color: #fff;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px; 
}

td:last-child {
	border-right: none;
}

tbody {
	font-size: 12px;
}

tbody tr:nth-child(2n) {
	background-color: #bbdefb;
}

tbody tr:nth-child(2n+1) {
	background-color: #e3f2fd;
}
  
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #f7f7f7;
}
::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #ced4da;
}
::-webkit-scrollbar-track {
    background: #f7f7f7;
}

#logo {
	width: 90%;
	height: 10%;
	font-size: 24px;
	text-align: center;
	padding-top: 20px;
}

.checkBox {
	cursor: pointer;
}
